<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--Точка входа для подключния к WCF сервису-->
  <system.serviceModel>
    <client>
      <endpoint name="FileConvertingServerService"
                address="http://localhost:52849/Services/FileConvertingServerService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="FileConvertingBinding"
                contract="GadzhiDTOServer.Contracts.FilesConvert.IFileConvertingServerService"
                xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </client>
    <client>
      <endpoint name="FileConvertingServerService"
                address="http://localhost:52849/Services/FileConvertingServerService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="HttpServiceBinding"
                contract="GadzhiDTOServer.Contracts.FilesConvert.IFileConvertingServerService"
                xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint name="SignatureServerService" 
                address="http://localhost:52849/Services/SignatureServerService.svc"
                binding="wsHttpBinding" bindingConfiguration="HttpServiceBinding"
                contract="GadzhiDTOServer.Contracts.Signatures.ISignatureServerService" 
                xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>