<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="FileConvertingBinding"
                 maxBufferSize="100000000"
                 maxBufferPoolSize="100000000"
                 maxReceivedMessageSize="100000000"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="01:10:00"
                 receiveTimeout="01:10:00">
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="GadzhiWcfHost.Services.FileConvertingService">
        <endpoint
           binding="basicHttpBinding"
           bindingConfiguration="FileConvertingBinding"
           contract="GadzhiDTO.Contracts.FilesConvert.IFileConvertingService" />
      </service>
    </services>

    <client>
      <endpoint
          name="FileConvertingService"
          address="http://localhost:52849/Services/FileConvertingService.svc"
          binding="basicHttpBinding"
          bindingConfiguration="FileConvertingBinding"
          contract="GadzhiDTO.Contracts.FilesConvert.IFileConvertingService" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
