<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net472" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.6.0-2.final" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.6.0-2.final" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0-beta3.final" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0-beta3.final" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0-beta3.final" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0-preview.1.20120.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0-preview.1.20120.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0-preview.1.20120.4" targetFramework="net472" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0-beta3.final" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0-beta3.final" targetFramework="net472" developmentDependency="true" />
  <package id="NHibernate" version="5.2.7" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.1.20120.5" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net472" />
  <package id="Unity" version="5.11.3" targetFramework="net472" />
</packages>